.catalog-container {
    padding: 30px;
}

.catalog-container h2 {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.link-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.link-container a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #FFFFFF;

    margin-bottom: 10px;
}

@media (min-width: 576px) {
    .catalog-container {
        padding-left: 35px;
        padding-right: 35px;
    }
}
  
@media (min-width: 768px) {
    .catalog-container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width: 1200px) {
    .catalog-container {
        padding-left: 60px;
        padding-right: 60px;
    }

    .catalog-container h2 {
        font-size: 48px;
        line-height: 65px;
    }

    .link-container {
        margin-top: 40px;
    }

    .link-container a {
        font-size: 24px;
        line-height: 33px;
    }

}

