.movie-details-container h2 {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #FFFFFF;

    margin-bottom: 20px;
}

.movie-review-card {
    padding: 20px 10px;
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-custom {
    height: 50px;
    width: 100%;
}

.btn-custom h6 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
}

.movie-review-list-card {
    padding: 20px 10px;
}

.reviewer-info-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.reviewer-info-container img {
    width: 12.95px;
    height: 15.34px;
    margin-right: 15px;
    margin-left: 5px;
}

.reviewer-info-container p {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;

    margin: 0;
    color: #FFFFFF;
}

.review-detail-card {
    padding: 10px 15px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}

.review-detail-card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;

    color: #9E9E9E;
    margin: 0;
}

.movie-review-list-container {
    margin-bottom: 15px;
}

@media (min-width: 576px) {
    .btn-custom {
        width: 334px;
    }
}

@media (min-width: 1200px) {
    .movie-details-container h2 {
        font-size: 48px;
        line-height: 65px;

        margin-bottom: 30px;
    }

    .movie-review-card {
        margin-bottom: 30px;
    }

    .reviewer-info-container img {
        margin-left: 20px;
    }
}
